@import '../../styles/settings.scss';
.columnForm{
  margin: $base-size auto;
  display: flex;
  justify-content: center;
  align-items: center;
  input{
    margin: 0 $base-size;
  }
  button{
    margin: 0 $base-size;
  }
}